<%- include("../templates/encabezado")%>
<%- include("../templates/menu")%>
<div class="container mt-5">
<div class="card">
    <div class="card-header">
        <h1>Productos</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>categoria</th>
                    <th>Precio</th>
                    <th>Foto</th>
                    <th>Editar/Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <%
                productos.forEach((producto,i)=>{
                %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%=producto.nombre%></td>
                        <td><%=producto.categoria%></td>
                        <td><%=producto.precio%></td>
                        <td><img src="/Productos/images/<%= producto.foto %>" width="100px"></td>
                        <td>
                            <a href="/productos/editarproducto/<%=producto.id%>">Editar</a>
                            <a href="/productos/borrarproducto/<%=producto.id%>">Borrar</a>
                        </td>
                    </tr>
                <%
                });
                %>
            </tbody>
        </table>
    </div>   
    <div class="card-footer"></div>
</div>
</div>
<%- include("../templates/pie")%>