<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>
<div class="container" mt-5>
    <form action="/editarUsuario" method="post" enctype="multipart/form-data">
        <div class="card mt-5">
            <div class="card-header">
                <h1>Editar Usuario</h1>
            </div>
            <div class="card-body">
                <input type="hidden" name="id" id="id" value="<%= user.id %>">
                <input type="hidden" name="fotoAnterior" id="fotoAnterior" value="<%= user.foto %>">
                <input class="form-control mb-3" type="text" value="<%= user.nombre %>" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" type="text" value="<%= user.usuario %>" name="usuario" id="usuario" placeholder="Usuario">
                <input class="form-control mb-3" type="text" value=""name="password" id="password" placeholder="Password">
                <div class="form-control mb-3">
                    <img src="images/Usuarios/<%=user.foto%>" alt="" width="100px">
                    <div><%=user.foto%></div>
                </div>
                <input class="form-control mb-3"type="file" name="foto" id="foto">
            </div>
            <div class="card-footer">
                <button class="btn btn-primary mb-3" type="submit">Editar Usuario</button>
                <button class="btn btn-secundary mb-3" type="reset">Limpiar campos</button>
            </div>
    </form>
</div>
<%- include("../templates/pie") %>